@import "../../scss/variables";
@import "../../scss/mixins";

.root {
    li {
        display: inline-block;

        a {
            display: inline-flex;
            justify-content: center;
            align-content: center;
            text-align: center;
            width: 45px;
            line-height: 42px;
            height: 45px;
            border: 1px solid $color-orange;
            border-radius: 30px;
            margin-right: 10px;
            color: $color-orange;
            cursor: pointer;

            &:hover {
                background-color: $color-orange;
                color: $color-gray-line;
            }
        }
    }

    :global {
        .selected {
            a {
                background-color: $color-orange;
                color: $color-gray-line;
            }
        }
    }
}
