$color-black: #232323;
$color-background: #ffdf8c;
$color-gray-line: #f6f6f6;
$color-orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1440:                           1440px;
